*
{
	margin: 0;
}
body
{
	background-color: #0038f0;
	color:#011d6b;
	font-size: 46px;
	text-align: center;
	-webkit-user-select: none;
  	user-select: none; 
}
#game_board
{
	background-color: #ffffff;
	border-radius: 5px;
	margin: 20px auto;
	position: relative;
}
#piece_container
{
	background-color: #0004ff;
	font-size: 0;
	height: 96%;
	left: 2%;
	position: absolute;
	top:2%;
	width: 96%;
}
#talking_box
{
	background-color: #FFF3E6;
	border: 5px solid #020088;
	border-radius: 5px;
	color: #1201ff;
	height:auto;
	margin: 10px auto;
	padding-bottom: 5px;
	width: 500px;
}
.game_piece
{	
	background-color: #FFF3E6;
	border: 2px groove #737679;
	box-sizing: border-box;
	display: inline-block;		
	height: 25%;
	position: absolute;		
	width: 25%;
}
.number_container
{	
	color: #1201ff;
	cursor: default;
	font-size: 50px;
	height: 50%;
	left: 50%;
	margin: -25% 0 0-25%;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 50%;
}